nav.navbar {
  margin-bottom: 2em;
}

a.navbar-brand {
  font-family: 'Uncial Antiqua', cursive;
}

/* Table styling */
div#table-container {
  max-width: 1000px;
  margin: auto;
}

table.table tr th:last-child,
table.table tr td:last-child {
  text-align: center;
}

i.fas {
  cursor: pointer;
}
