nav.navbar {
  margin-bottom: 2em;
}

a.navbar-brand {
  font-family: 'Uncial Antiqua', cursive;
}

/* Table styling */
div#table-container {
  max-width: 1000px;
  margin: auto;
}

table.table tbody tr td:nth-child(4) {
  text-align: center;
}
